*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0b0b0b;
color:#fff;
overflow-x:hidden;
}

/* Password Page */

#lock{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#000,#111,#1b1b1b);
}

.card{
width:90%;
max-width:360px;
background:#151515;
padding:30px;
border-radius:18px;
text-align:center;
border:2px solid #d4af37;
box-shadow:0 0 30px rgba(212,175,55,.25);
}

.card h1{
font-family:'Cinzel',serif;
color:#d4af37;
margin-bottom:10px;
}

.card p{
color:#ddd;
margin:12px 0;
}

.card input{
width:100%;
padding:14px;
margin:15px 0;
background:#000;
color:#fff;
border:1px solid #d4af37;
border-radius:12px;
outline:none;
font-size:16px;
}

#unlockBtn,
#musicBtn{
width:100%;
padding:14px;
background:#d4af37;
color:#000;
font-size:16px;
font-weight:bold;
border:none;
border-radius:12px;
cursor:pointer;
transition:.3s;
}

#unlockBtn:hover,
#musicBtn:hover{
transform:scale(1.04);
box-shadow:0 0 18px #d4af37;
}

#error{
margin-top:12px;
color:#ff5b5b;
font-weight:bold;
}

/* Main Page */

#main{
display:none;
animation:fade .8s ease;
}

header{
padding:40px 20px;
text-align:center;
}

header h1{
font-family:'Cinzel',serif;
color:#d4af37;
font-size:34px;
}

header p{
margin:12px 0 20px;
color:#ccc;
}

.letter{
width:92%;
max-width:800px;
margin:20px auto;
padding:25px;
background:#151515;
border:1px solid #d4af37;
border-radius:18px;
line-height:1.9;
}

.letter h2{
color:#d4af37;
margin-bottom:15px;
}

.gallery-title{
text-align:center;
margin:35px 0 20px;
color:#d4af37;
font-family:'Cinzel',serif;
}

.gallery{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:15px;
max-width:900px;
margin:auto;
}

.gallery img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
border-radius:14px;
border:2px solid #d4af37;
transition:.3s;
}

.gallery img:hover{
transform:scale(1.05);
}

footer{
padding:30px;
text-align:center;
color:#d4af37;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@media(min-width:768px){

.gallery{
grid-template-columns:repeat(3,1fr);
}

header h1{
font-size:42px;
}

}